<div class="text-center">
  <h2>{{name}}</h2>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>{{review.description}}</p>
  <p>{{review.comment_text}}</p>
  <a href="/profile"><button class="btn btn-primary">New Post</button></a>    
  
</div>
