<div class="text-center">
  <h2>{{name}}</h2>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>{{description}}</p>
  <p>{{comment_text}}</p>
  <p>
    <button class="btn btn-primary">New Post</button>
  </p>
</div>
