<div class="card bg-dark text-light">
    <div class="title text-light">
        <h1 class="text-center">{{title}}</h1>
    </div>
    <p class="text-center">{{description}}</p>
    <p>Created by {{user.name}} on {{format_date date_created}}</p>
    <div class="comment-card card text-light">
        {{#each comments as |comment|}}
        <h5>{{{comment.body}}}</h5>
        {{/each}}
    </div>
    {{#if logged_in}}
      <div class="form-group col-lg-10" id="new-comment-form">
        <label for="comment">
          <button class="btn btn-primary" type="submit">Leave Comment</button>
        </label>
        <input class="form-input" type="text" id="comment" />
      {{else}}
      <h6><a href="/login">Login</a> to leave a comment</h6>
      {{/if}}
</div>