<div class="text-center">
<<<<<<< HEAD
  <h2>{{name}}</h2>
  <p>{{review}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
  </p>
  <p>
    <button class="btn btn-primary">Comment on this review!</button>
  </p>
</div>
=======
    <h2>{{name}}</h2>
    <p>{{review_description}}</p>
    <p>Created by {{user.name}} on {{format_date date_created}}</p>
    <p>
        <span for="img" aria-label=""
    </p>
</div>
>>>>>>> main
